*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Arial;
}
.container{
    margin: 20PX auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee;
}
.game-info{
    display: flex;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #e91e63;
    font-weight: bold;
}
.hangman-draw{
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    display: none;
}
.hangman-draw .the-draw .the-stand{
    display: none;
}
.hangman-draw .the-draw .the-stand::before{
    content: "";
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px; 
}
.hangman-draw .the-draw .the-hang{
    display: none;
}
.hangman-draw .the-draw .the-hang::before{
    content: "";
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100%;
    left: 30px;
    top: 15px;
}
.hangman-draw .the-draw .the-hang::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 90px; 
    top: 15px;
}
.hangman-draw .the-draw .the-rope{
    width: 70px;
    height: 70px;
    border: 4px dashed #222;
    border-radius: 50%;
    position: absolute;  
    left: 58px;
    top: 45px;
    display: none;
}
.hangman-draw .the-man .head{
    width: 50px;
    height: 50px;
    border: 4px solid #222;
    position: absolute;
    left: 67px;
    top: 54px;
    border-radius: 50%;
    display: none;
}
.hangman-draw .the-man .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 110px;
    top: 103px;
    left: 90px;
    display: none;
}
.hangman-draw .the-man .hands{
    display: none;
}
.hangman-draw .the-man .hands::before{
    content: "";
    height: 4px;
    background-color: #222;
    position: absolute;
    width: 45px;
    left: 50px;
    top: 135px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after{
    content: "";
    height: 4px;
    background-color: #222;
    position: absolute;
    width: 45px;
    left: 88px;
    top: 135px; 
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs{
    display: none;
}
.hangman-draw .the-man .legs::before{
    content: "";
    height: 4px;
    background-color: #222;
    position: absolute;
    width: 50px;
    left: 47px;
    top: 226px;
    transform: rotate(-40deg);
}
.hangman-draw .the-man .legs::after{
    content: "";
    height: 4px;
    background-color: #222;
    position: absolute;
    width: 50px;
    left: 88px;
    top: 226px; 
    transform: rotate(40deg);
}
.hangman-draw.wrong-1 .the-draw{
    display: block;
}
.hangman-draw.wrong-2 .the-stand{
    display: block;
}
.hangman-draw.wrong-3 .the-hang{
    display: block;
}
.hangman-draw.wrong-4 .the-rope{
    display: block;
}
.hangman-draw.wrong-5 .head{
    display: block;
}
.hangman-draw.wrong-6 .body{
    display: block;
}
.hangman-draw.wrong-7 .hands{
    display: block;
}
.hangman-draw.wrong-8 .legs{
    display: block;
}
.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #777;
}
.letters .letter-box.clicked{
    background-color: #222;
    opacity: .2;
    pointer-events: none;
    
}
.letters-guess{
    margin: 10px auto;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 104px;
}
.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #222;
    transition: 0.3s;
}
.letters-guess span.has-space{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.has-space::after{
    content: "";
    width: 20px;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.letters.fail{
    pointer-events: none;
}